<h1>Please create the Topic</h1>
<%- include ("./partials/messages") %>
<form action="/dashboard/create-topic" method="POST">
  <div class="form-group">
    <label for="topic">Topic</label>
    <input
      type="text"
      class="form-control"
      id="topic"
      aria-describedby="topic"
      placeholder="Enter Topic"
      name="topic"
      required
    />
    <small id="topic" class="form-text text-muted"
      >Enter the Main Topic, same will be listed on Index Page and Topic
      Page</small
    >
  </div>

  <div class="form-group">
    <label for="category">Select Category from Dropdown</label>
    <select class="form-control" id="category" name="category">
      <option>User ID Management</option>
      <option>Role Management</option>
      <option>Additional Activities (CV/PV)</option>
      <option>Authorization Forms (CV/PV)</option>
      <option>Useful Links</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Create Topic</button>
</form>
