<h1 class="mt-4">Dashboard</h1>
<!-- <p class="lead mb-3">Welcome</p> -->
<a href="/users/logout" class="btn btn-primary pull-right">Logout</a>

<%- include ("./partials/messages") %>
<ul class="list-group mt-4">
  <li class="list-group-item list-group-item-primary">
    Select any one option for System: ECC (PP8-500/TP8-500)
  </li>
  <li class="list-group-item">
    <a href="/dashboard/topic-index">Display Topics</a>
  </li>
  <li class="list-group-item">
    <a href="/dashboard/create-topic">Create New Topic</a>
  </li>
  <li class="list-group-item">
    <a href="/dashboard/update-topic">Update Existing Topic/Add Subtopics</a>
  </li>
</ul>
