<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="far fa-smile fa-3x"></i></h1>
      <p>
        Welcome to TML, this website is created to understand and maintain the
        Process which is followed in Tata Motors Security Team
      </p>
      <a href="/users/login" class="btn btn-secondary btn-block"
        >Go to Login Page</a
      >
    </div>
  </div>
</div>
